<!-- views/error.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Rocket Launch</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Rocket Launch</h1>
  <h2>Error: <%= message %></h2>
</body>
</html>
